/* ----------------footer----------- */

.footer {
    .footerNav {
        display: flex;
        justify-content: space-between;
        padding-top: 36px;
        margin-bottom: 18px;
    }
}

.footerNav {
    ul {
        display: flex;
        align-items: center;
    }
}

.footerInner {
    a {
        text-decoration: none;
        color: #ffffff;
        display: block;
    }
}

.footerLinks {
    .lineIcon {
        background: url("../images/ic_social_line.svg")no-repeat;
        width: 48px;
        height: 48px
    }
    .instagramIcon {
        background: url("../images/ic_social_ig.svg")no-repeat;
        width: 48px;
        height: 48px
    }
    .facebookIcon {
        background: url("../images/ic_social_fb.svg")no-repeat;
        width: 48px;
        height: 48px
    }
}

.footerContact {
    img {
        display: inline;
        max-width: 36px;
        margin-right: 23px;
    }
    a {
        text-decoration: none;
        color: #ffffff;
        line-height: 1.35;
    }
    li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.footerLogo {
    border-top: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
}

.footerLogo {
    li {
        padding-top: 24px;
    }
}

.f-logo,
.logo-inner {
    display: flex;
    align-items: center;
}

.footerLogo {
    h2 {
        background: url("../images/logo-new_工作區域\ 1.png")no-repeat;
        width: 80px;
        height: 48.57px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 38px;
    }
}

.footerLogo {
    p {
        color: #ffffff;
    }
}

.logo-inner {
    a {
        text-decoration: none;
        color: #ffffff;
        font-size: 0.7rem;
        line-height: 1.45;
    }
}

@media(max-width:992px) {
    .footer {
        .container {
            max-width: 672px;
        }
        .footerNav {
            padding-top: 40px;
        }
    }
    .footerLinks {
        .facebookIcon {
            background: url("../images/ic_social_fb\ copy.svg")no-repeat;
            width: 24px;
            height: 24px
        }
        .instagramIcon {
            background: url("../images/ic_social_ig copy.svg")no-repeat;
            width: 24px;
            height: 24px
        }
        .lineIcon {
            background: url("../images/ic_social_line copy.svg")no-repeat;
            width: 24px;
            height: 24px
        }
    }
    .footerContact {
        img {
            max-width: 23px;
        }
        a {
            font-size: 1.25rem;
        }
    }
    .footerLogo {
        .f-logo {
            h2 {
                display: none;
            }
        }
    }
    .logo-inner {
        .ml-62 {
            margin-left: 24px;
        }
    }
}

@media(max-width:767px) {
    .footer {
        .container {
            max-width: 352px;
            position: relative;
        }
        .footerContact {
            position: absolute;
            top: 24px;
            left: 0px;
        }
        .footerNav {
            padding-bottom: 51px;
            margin-bottom: 14px;
        }
        .footerInner {
            display: none;
        }
    }
    .footerNav {
        .footerLinks {
            position: absolute;
            top: 24px;
            right: 0px;
        }
    }
    .footerLinks {
        .ml-32 {
            margin-left: 24px;
        }
    }
    .footerContact {
        img {
            max-width: 13px;
            margin-right: 8px;
        }
        .footerEmail {
            margin-bottom: 0px;
        }
        a {
            font-size: 1rem;
        }
    }
    .footerLogo {
        flex-direction: column;
        position: relative;
        padding-bottom: 24px;
        .f-logo {
            padding-top: 16px;
        }
        .f-logo {
            h2 {
                position: absolute;
                display: block;
                background: url("../images/logo-footerIphone.png")no-repeat;
                right: 0;
                bottom: 20px;
                margin-right: 0px;
                width: 46px;
                height: 28px;
            }
            p {
                font-size: 0.875rem;
                line-height: 1.4;
            }
        }
        .logo-inner {
            padding-top: 8px;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .logo-inner a:nth-last-child(1) {
        margin: 0;
        margin-top: 8px;
    }
}