footer.footer.bg-color
  .container
    .footerNav
      ul.footerInner
        li
          a.fs-16.zh-text-regular(href='') 首頁
        li.ml-48
          a.fs-16.zh-text-regular(href='') 系列鏡框
        li.ml-48
          a.fs-16.zh-text-regular(href='') 門市據點
        li.ml-48
          a.fs-16.zh-text-regular(href='') 部落格
        li.ml-48
          a.fs-16.zh-text-regular(href='') 常見問題
      ul.footerLinks
        li.ml-32
          a.facebookIcon.d-block(href='')
        li.ml-32
          a.instagramIcon.d-block(href='')
        li.ml-32
          a.lineIcon.d-block(href='')
    ul.footerContact
      li.mb-16
        img(src='./images/ic_phone_48px.svg', alt='')
        a.fs-36.d-block.en-text-regular(href='tel:0800-000-000')
          | 0800-000-000
      li.mb-24.footerEmail
        img(src='./images/ic_mail_outline_24px.svg', alt='')
        a.fs-36.d-block.en-text-regular(href='mailto:glasses@business.com')
          | glasses@business.com
    ul.footerLogo
      li.f-logo
        h2
          a.d-block(href='') Glasses
        p.fs-16.en-text-regular Copyright © 2020 Glasses.All rights reserved.
      li.logo-inner
        a.d-block.zh-text-regular(href='') 隱私權政策
        a.ml-62.d-block.zh-text-regular(href='') 服務條款