header.header.bg-color
      a.menu(href="#")
      h1.logo.mt-30.ml-88.mb-30
        a(href="https://hkman2018.github.io/LiveCourse-weekly3/")
      ul.global-nav.mr-88.fs-20
        li
          a(href="") 系列鏡框
        li
          a(href="") 門市據點
        li
          a(href="") 部落格
        li
          a(href="") 常見問題
