.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 1539px;
    margin: 0 auto;
}

.d-block {
    display: block;
}

.d-inline-b {
    display: inline-block;
}

.bg-color {
    background: #AA0601;
}

.bg-color-blush {
    background: #AA06010D;
}

.t-color {
    color: #650300;
}

.zh-text-med {
    font-family: '蘋方-繁', Medium;
}

.zh-text-light {
    font-family: '蘋方-繁', light;
}

.zh-text-Sem {
    font-family: '蘋方-繁', Semibold;
}

.zh-text-regular {
    font-family: '蘋方-繁', Regular;
}

.en-text-bold {
    font-family: 'Roboto', bold;
}

.en-text-med {
    font-family: 'Roboto', Medium;
}

.en-text-regular {
    font-family: 'Roboto', Regular;
}

.mt-16 {
    margin-top: 0.8rem;
}

.mt-30 {
    margin-top: 1.5rem;
}

.mt-64 {
    margin-top: 3.2rem;
}

.ml-8 {
    margin-left: 0.4rem;
}

.ml-24 {
    margin-left: 1.2rem;
}

.ml-48 {
    margin-left: 2.4rem;
}

.ml-32 {
    margin-left: 1.6rem;
}

.ml-62 {
    margin-left: 3.39rem;
}

.ml-88 {
    margin-left: 4.4rem;
}

.mr-88 {
    margin-right: 4.4rem;
}

.mb-16 {
    margin-bottom: 0.8rem;
}

.mb-24 {
    margin-bottom: 1.2rem;
}

.mb-20 {
    margin-bottom: 1rem;
}

.mb-30 {
    margin-bottom: 1.5rem;
}

.mb-32 {
    margin-bottom: 1.6rem;
}

.mb-40 {
    margin-bottom: 2rem;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-60 {
    margin-bottom: 3rem;
}

.mb-80 {
    margin-bottom: 4rem;
}

.mb-64 {
    margin-bottom: 3.2rem;
}

.mb-88 {
    margin-bottom: 88px;
}

.pt-64 {
    padding-top: 3.2rem;
}

.pb-60 {
    padding-bottom: 3rem;
}

.pb-80 {
    padding-bottom: 4rem;
}

.pb-479 {
    padding-bottom: 23.95rem;
}

.fs-16 {
    font-size: 1rem;
    line-height: 1.4;
}

.fs-19 {
    font-size: 1.1875rem;
    line-height: 1.4;
}

.fs-20 {
    font-size: 1.25rem;
    line-height: 1.4;
}

.fs-24 {
    font-size: 1.5rem;
    line-height: 1.5;
}

.fs-32 {
    font-size: 2rem;
    line-height: 1.43;
}

.fs-36 {
    font-size: 2.25rem;
    line-height: 1.45;
}

.fs-42 {
    font-size: 2.625rem;
    line-height: 1.40;
}

.fs-48 {
    font-family: "蘋方-繁", Semibold;
    font-size: 3rem;
    line-height: 1.4;
}

.fs-64 {
    font-size: 4rem;
    line-height: 1.42;
}

.fs-72 {
    font-size: 4.57rem;
    line-height: 1.4;
}

.d-flex {
    display: flex;
}