extend ../layout.pug

block title
  title Product

block content
  .content  
    section.local-nav
        ul.container.d-flex
         li.product-nav
           a.productDiamond.current(href="#opticalStyle")
             h3
               div.bg-img
               span.fs-42 optical               
         li.product-nav
           a.productSun(href="#sunglassesStyle")
            h3
              div.bg-img
              span.fs-42 sunglasses
         li.product-nav
           a.productFlash.disabled(href="")
             h3
              div.bg-img
              span.fs-42 functional
        ul#glassList
         li#opticalStyle
          .newItem.d-flex.mb-88
           div.optiPhoto-l
            img(src="../images/opticalNewItem1.png", alt="")
           div.optiPhoto-r
            img(src="../images/opticalNewItem2.png", alt="")
          .styleName.mb-48
            h2.fs-42 Celluloid Combi
            p.fs-32.zh-text-light 賽璐珞鈦金屬混合鏡框
         
          ul.opticalItem.container      
               li.product-item
                img(src="../images/16.png")
                div.product-price
                 p.fs-24 bj41600s
                 p.fs-24 ntd3,490
                div.product-color1
                div.product-color2
               li.product-item
                img(src="../images/16.png")
                div.product-price
                 p.fs-24 bj41600s
                 p.fs-24 ntd3,490
                div.product-color1
                div.product-color2
               li.product-item
                img(src="../images/16.png")
                div.product-price
                 p.fs-24 bj41600s
                 p.fs-24 ntd3,490
                div.product-color1
                div.product-color2
               li.product-item
                img(src="../images/16.png")
                div.product-price
                 p.fs-24 bj41600s
                 p.fs-24 ntd3,490
                div.product-color1
                div.product-color2
               li.product-item
                img(src="../images/16.png")
                div.product-price
                 p.fs-24 bj41600s
                 p.fs-24 ntd3,490
                div.product-color1
                div.product-color2
               li.product-item
                img(src="../images/16.png")
                div.product-price
                 p.fs-24 bj41600s
                 p.fs-24 ntd3,490
                div.product-color1
                div.product-color2
               li.product-item
                img(src="../images/16.png")
                div.product-price
                 p.fs-24 bj41600s
                 p.fs-24 ntd3,490
                div.product-color1
                div.product-color2
               li.product-item
                img(src="../images/16.png")
                div.product-price
                 p.fs-24 bj41600s
                 p.fs-24 ntd3,490
                div.product-color1
                div.product-color2            
               li.product-item
                img(src="../images/16.png")
                div.product-price
                 p.fs-24 bj41600s
                 p.fs-24 ntd3,490
                div.product-color1
                div.product-color2
               li.product-item
                img(src="../images/16.png")
                div.product-price
                 p.fs-24 bj41600s
                 p.fs-24 ntd3,490
                div.product-color1
                div.product-color2
               li.product-item
                img(src="../images/16.png")
                div.product-price
                 p.fs-24 bj41600s
                 p.fs-24 ntd3,490
                div.product-color1
                div.product-color2
               li.product-item
                img(src="../images/16.png")
                div.product-price
                 p.fs-24 bj41600s
                 p.fs-24 ntd3,490
                div.product-color1
                div.product-color2
          nav.pageNav.container
           ul.pagination
            li.page-link
              a.fs-19(href="") 上一頁
            li.page-item
              a.fs-19(href="") 1
            li.page-item.active
              a.fs-19(href="") 2
            li.page-item
              a.fs-19(href="") 3
            li.page-item
              a.fs-19(href="") 4
            li.page-item
              a.fs-19(href="") 5
            li.page-link
              a.fs-19(href="") 下一頁
         li#sunglassesStyle 
          .newItem-sun.d-flex.mb-88
            div.sunglassPhoto-l
             img(src="../images/glassesNewItem1.png", alt="")
            div.sunglassPhoto-r
             img(src="../images/sunglassesNewItem2.png",  alt="")
          .styleName.mb-48
           h2.fs-42 2020 NEW COLLECTION
           p.fs-32.zh-text-light 賽璐珞鈦金屬混合鏡框
          ul.sunglassesItem.container
                li
                 img(src="../images/sun48.png")
                 div.sunglass-price
                  p.fs-24 bj41600s
                  p.fs-24 ntd3,490
                 div.product-color1
                 div.product-color2
                li
                 img(src="../images/sun52.png")
                 div.sunglass-price
                  p.fs-24 bj41600s
                  p.fs-24 ntd3,490
                 div.product-color1
                 div.product-color2
                li
                 img(src="../images/sun51.png")
                 div.sunglass-price
                  p.fs-24 bj41600s
                  p.fs-24 ntd3,490
                 div.product-color1
                 div.product-color2
              
                li
                 img(src="../images/sun48.png")
                 div.sunglass-price
                  p.fs-24 bj41600s
                  p.fs-24 ntd3,490
                 div.product-color1
                 div.product-color2
                li
                 img(src="../images/sun52.png")
                 div.sunglass-price
                  p.fs-24 bj41600s
                  p.fs-24 ntd3,490
                 div.product-color1
                 div.product-color2
                li
                 img(src="../images/sun51.png")
                 div.sunglass-price
                  p.fs-24 bj41600s
                  p.fs-24 ntd3,490
                 div.product-color1
                 div.product-color2
                li
                 img(src="../images/sun52.png")
                 div.sunglass-price
                  p.fs-24 bj41600s
                  p.fs-24 ntd3,490
                 div.product-color1
                 div.product-color2
                li
                 img(src="../images/sun51.png")
                 div.sunglass-price
                  p.fs-24 bj41600s
                  p.fs-24 ntd3,490
                 div.product-color1
                 div.product-color2
                li
                 img(src="../images/sun52.png")
                 div.sunglass-price
                  p.fs-24 bj41600s
                  p.fs-24 ntd3,490
                 div.product-color1
                 div.product-color2
                li
                 img(src="../images/sun51.png")
                 div.sunglass-price
                  p.fs-24 bj41600s
                  p.fs-24 ntd3,490
                 div.product-color1
                 div.product-color2
          nav.sun-pageNav.container
           ul.sun-pagination
            li.page-link
              a.fs-19(href="") 上一頁
            li.page-item
              a.fs-19(href="") 1
            li.page-item.active
              a.fs-19(href="") 2
            li.page-item
              a.fs-19(href="") 3
            li.page-item
              a.fs-19(href="") 4
            li.page-item
              a.fs-19(href="") 5
            li.page-link
              a.fs-19(href="") 下一頁   