<!DOCTYPE html>
html(lang="en")
   head
      include partials/head.pug
      block title
        title document
   body
      include partials/header.pug
      block content
         h1 你好
      include partials/footer.pug